{% extends "base.html" %}
{% block title %}Application error &middot; VSAT Spectrum Allocation Platform{% endblock %}
{% block content %}
<div class="row"><div class="col-12 col-lg-8">
  <h1 class="h3">Application error</h1>
  <p>The request could not be completed. The error has been logged.</p>
  <p class="text-body-secondary">
    If this persists, provide the time of the request to your administrator so the entry
    can be located in the application log.
  </p>
  <a class="btn btn-secondary" href="/">Return to dashboard</a>
</div></div>
{% endblock %}
